{% extends 'base.html' %}

{% block title %}
    User Booking History
{% endblock title %}

{% block content %}

{% load custom_filter_date %}

<div class="row mb-4">
    <div class="col-lg-12 text-center p-4 text-success">
        <h4>Your Bookings</h4>
    </div>

    <!-- this section is about the bookings -->

    <div class="col-lg-12 m-1 mx-auto">
        <table class="table table-hover">
            <thead class="bg-dark text-white text-center">
              <tr>
                <th scope="col">Booking ID</th>
                <th scope="col">Booking Date</th>
                <th scope="col">Booking Time</th>
                <th scope="col">Booking Status</th>
                <th scope="col">Booking Details</th>
                <th scope="col">Ticket</th>
                <th scope="col">Cancel Booking</th>
              </tr>
            </thead>
            <tbody>
                {% for booking in booking %}
              <tr class="text-center">
                <th scope="row">{{booking.id}}</th>
                <td>{{booking.booking_date}}</td>
                <td>{{booking.booking_time}}</td>
                <td>{{booking.status}}</td>
                <td><button type="submit" class="btn btn-info"><a href="booking_history/booking_detail/{{booking.id}}" class="text-white" style="text-decoration: none;">View Details</a></button></td>
                <td><button type="submit" class="btn btn-success"><a href="booking_history/ticket/{{booking.id}}" class="text-white" style="text-decoration: none;" target="_blank">Get Ticket</a></button></td>
                <form action="cancel_booking" method="post">
                  {% csrf_token %}
                  {% with date=booking.travel_dt|date:current_date %}
                  {% if date > 1 %}
                  <td><button type="submit" class="btn btn-danger">Cancel Booking</button></td>
                  <input type="hidden" name="booking_id" value="{{booking.pk}}">
                  {% endif %}
                  {% endwith %}
                </form>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>

</div>
    

{% endblock content %}