{% extends 'base.html' %}

{% block title %}
    User Registration
{% endblock title %}

{% block content %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <!-- for signup -->

    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
                <h4 class="mt-2">User Registration</h4>
            </div>

            <!-- signup Form -->
            <form method="post" action="signup">
                {% csrf_token %}
                <input type="text" id="first_name" class="fadeIn second" name="first_name"
                       placeholder="enter first name">
                <input type="text" id="last_name" class="fadeIn second" name="last_name" placeholder="enter last name">
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="enter an username">
                <input type="email" id="email" class="fadeIn second" name="email" placeholder="enter email address">
                <input type="text" id="phone" class="fadeIn second" name="phone" placeholder="enter phone number">
                <input type="password" id="password1" class="fadeIn third" name="password1" placeholder="enter password">
                <input type="password" id="password2" class="fadeIn third" name="password2" placeholder="confirm password">
                <br/>
                <input type="submit" class="fadeIn fourth" value="Sign Up">
            </form>

            <!-- Remind login -->
            <div id="formFooter">
                Already have an account? <a class="underlineHover" href="{% url 'login' %}"> Login</a>
            </div>

        </div>
    </div>

    <!-- signup end -->

{% endblock content %}